@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

body {
  margin: 10px;
  background-color: rgb(123, 160, 255);
}
p {
  font-family: "sans-serif";
}

#meme-canvas {
  width: 300px;
}
